.custom-select {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.selected-value {
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.selected-value img {
    margin-right: 10px;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    display: none;
    background-color: white;
}

.options-container .option {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.options-container .option:hover {
    background-color: #f2f2f2;
}